.p-bottom{
    padding-bottom: 80px;
}
/* tomado de https://codepen.io/GeoffreyCrofte/pen/Hizkh */

.none li:nth-child(-n+4){
  list-style-type:none;
  outline: 2px solid red;
  margin-top: 40px;
  
}

.none li:nth-child(5){
  list-style-type:none;
  outline: 2px solid green;
  margin-left: 215px;
  
}
.none li:nth-child(12){
  list-style-type:none;
  outline: 2px solid green;
  margin-left: 215px;
  
}
.none li:nth-child(19){
  list-style-type:none;
  outline: 2px solid green;
  margin-left: 215px;
  
}
li{
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.diamond {
	width: 150px;
	height: 150px;
	transform: rotate(45deg);
	outline: 1px solid black;
	position: relative;
	overflow: hidden;
	margin: 80px 0 0 90px;
}

.diamond img {
	max-height: 142%;
	transform: rotate(-45deg);
	margin: -21%;
	z-index: -1;
  position: relative;
  
}