.top-navbar-condor {
    background-color: #feda44;
    
}
.bg-menu {
    background-color: #000000!important;
    
}
a.bg-menu:hover {
    background-color: rgb(243, 238, 238)!important;
}
.nav-link {
    color: #32332f!important;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 18px;
}
a.nav-link {
    color: #fff;
}
a.nav-link:hover{
    color: gray;
}
a:hover {
    color: #0056b3;
    text-decoration: none !important; 
}