.top-navbar-condor {
    background-color: rgba(253,205,7,.8);
}
.bg-menu {
    background-color: #000000!important;
}
a.bg-menu:focus, a.bg-menu:hover, button.bg-menu:focus, button.bg-menu:hover {
    background-color: gray!important;
}